@import "tailwindcss";
@import "../assets/fonts/index.css";

@custom-variant dark (&:is(.violet-kiss-mode *));
/* Extend backdrop blur utilities */
@source inline("{hover:,focus:,}backdrop-blur-{2xs,xs,sm,md,lg,xl,2xl,3xl}");
@theme inline {
  /* Define Color */
  --color-avatar-primary: var(--avatar-primary);
  --color-avatar-blue: var(--avatar-blue);
  --color-avatar-blue-1: var(--avatar-blue-1);
  --color-avatar-blue-2: var(--avatar-blue-2);
  --color-avatar-blue-3: var(--avatar-blue-3);
  --color-avatar-blue-4: var(--avatar-blue-4);
  --color-avatar-blue-5: var(--avatar-blue-5);
  --color-avatar-violet: var(--avatar-violet);
  --color-avatar-black: var(--avatar-black);
  --color-avatar-black-1: var(--avatar-black-1);
  --color-avatar-text-color: var(--avatar-text-color);

  /* Define breakpoint */
  --breakpoint-xs: 320px;
  --breakpoint-pr: 375px;
  --breakpoint-prm: 400px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;
  --breakpoint-5xl: 3840px;

  /*Define max-screen of container*/
  --max-screen-xs: 320px;
  --max-screen-pr: 375px;
  --max-screen-prm: 400px;
  --max-screen-sm: 640px;
  --max-screen-md: 768px;
  --max-screen-lg: 1024px;
  --max-screen-xl: 1280px;
  --max-screen-2xl: 1536px;
  --max-screen-3xl: 1920px;
  --max-screen-4xl: 2560px;
  --max-screen-5xl: 3840px;

  /*Define container*/
  --container-3xl: 1920px;
  --container-4xl: 2560px;
  --container-5xl: 3840px;

  /* Define font family */
  --font-kanit: "Kanit", sans-serif;
  --font-karantina: "Karantina", sans-serif;
  /* Font size */
  --text-xs: 0.75rem;
  --text-custom-24: 1.5rem;
  --text-custom-32: 2rem; 
  --text-custom-33: 2.0625rem;
  --text-custom-37: 2.3125rem;
  --text-custom-42: 2.625rem;
  --text-custom-40: 2.5rem;
  --text-custom-42: 2.625rem;
  --text-custom-45: 2.75rem;
  --text-custom-46: 2.875rem;
  --text-custom-48: 3rem;
  --text-custom-50: 3.125rem;
  --text-custom-54: 3.375rem;
  --text-custom-55: 3.4375rem;
  --text-custom-56: 3.5rem;
  --text-custom-58: 3.625rem;
  --text-custom-59: 3.6875rem;
  --text-custom-60: 3.75rem;
  --text-custom-62: 3.875rem;
  --text-custom-66: 4.125rem;
  --text-custom-70: 4.375rem;
  --text-custom-72: 4.5rem;
  --text-custom-75: 4.6875rem;
  --text-custom-82: 5.125rem;
  --text-custom-80: 5rem;
  --text-custom-82: 5.125rem;
  --text-custom-85: 5.3125rem;
  --text-custom-88: 5.5rem;
  --text-custom-90: 5.625rem;
  --text-custom-92: 5.75rem;
  --text-custom-98: 6.125rem;
  --text-custom-100: 6.25rem;
  --text-custom-103: 6.4375rem;
  --text-custom-110: 6.875rem;
  --text-custom-120: 7.5rem;
  --text-custom-125: 7.8125rem;
  --text-custom-106: 6.625rem;
  --text-custom-121: 7.5625rem;
  --text-custom-123: 7.688rem;
  --text-custom-125: 7.813rem;
  --text-custom-130: 8.125rem;
  --text-custom-140: 8.75rem;
  --text-custom-145: 9.125rem;
  --text-custom-151: 9.4375rem;
  --text-custom-153: 9.5625rem;
  --text-custom-160: 10rem;
  --text-custom-176: 11rem;
  --text-custom-180: 11.25rem;
  --text-custom-185: 11.5625rem;
  --text-custom-200: 12.5rem;
  --text-custom-208: 13rem;
  --text-custom-232: 14.5rem;
  --text-custom-272: 17rem;
  --text-custom-297: 18.5625rem;
  /* Font Weight */ /* Letter space */
  /* Line height */ /* Border radius use by rounded-* */
  --radius-custom-20: 1.25rem;
  /* Spacing this is value in the end of p-* or h-* */
  /* Shadow */
  /* Inset shadow */
  /* Drop shadow */
  --drop-shadow-text: drop-shadow(1.7px 2.55px 1.53px rgba(0, 0, 0, 0.4));
  /* Back drop blur */
  --blur-cs-6: 6px;
  --blur-2xs: 2px;
}

:root {
  --avatar-primary: #00d0f6;
  --avatar-blue: #001251;
  --avatar-blue-1: #3cfbff;
  --avatar-blue-2: #00d0f6;
  --avatar-blue-3: #0083f5;
  --avatar-blue-4: #1d4ed8;
  --avatar-blue-5: #49fff0;
  --avatar-violet: #d81de2;
  --avatar-black: #000;
  --avatar-black-1: #1a1a1a;
  --avatar-text-color: #1a1a1a;
  --avatar-bg-filter-lg:
    84.61% 152.04% at 34.27% -2.68%, rgba(41, 41, 140, 0.5) 50%,
    rgba(0, 147, 212, 0.5) 67.98%, rgba(41, 41, 140, 0.5) 95.67%;
  --avatar-bg-filter-md:
    76.46% 134.28% at 34.27% -2.68%, rgba(41, 41, 140, 0.5) 49.41%,
    rgba(0, 147, 212, 0.5) 67.98%, rgba(41, 41, 140, 0.5) 88.4%;
  --avatar-bg-filter-sm:
    87.19% 156.67% at 34.27% -2.68%, rgba(41, 41, 140, 0.5) 49.41%,
    rgba(0, 147, 212, 0.5) 67.98%, rgba(143, 46, 189, 0.5) 96.46%,
    rgba(216, 29, 226, 0.5) 99.22%;
  --avatar-chat-border:
    #00d0f6 3.35%, rgba(81, 249, 255, 0) 33.5%, rgba(81, 249, 255, 0) 80.85%,
    #00d0f6 91.75%;
  --avatar-info-border:
    #fff, rgba(255, 255, 255, 0) 33.5%, rgba(81, 249, 255, 0) 80.85%,
    #fff 122.75%;
  --avatar-emi-radial: linear-gradient(
    143.72deg,
    #0083f5 29.99%,
    #49fff0 49.39%,
    #1d4ed8 83.09%
  );
}

.violet-kiss-mode {
  --avatar-primary: #d81de2;
  --avatar-blue: #001251;
  --avatar-blue-1: #3cfbff;
  --avatar-blue-2: #00d0f6;
  --avatar-blue-3: #0083f5;
  --avatar-blue-4: #1d4ed8;
  --avatar-violet: #d81de2;
  --avatar-black: #000;
  --avatar-black-1: #1a1a1a;
  --avatar-text-color: #fff;
  --avatar-bg-filter-lg:
    90% 160% at 34.27% -2.68%, rgba(41, 41, 140, 0.5) 50%,
    rgba(0, 147, 212, 0.5) 67.98%, rgba(143, 46, 189, 0.5) 90%,
    rgba(216, 29, 226, 0.5) 99.22%;

  --avatar-bg-filter-lg-earn-connection:
    84.61% 152.04% at 34.27% -2.68%, rgba(41, 41, 140, 0) 49.41%,
    rgba(0, 147, 212, 0.5) 67.98%, rgba(143, 46, 189, 0.5) 88.4%,
    rgba(216, 29, 226, 0.5) 99.22%;
  --avatar-bg-filter-md:
    76.46% 134.28% at 34.27% -2.68%, rgba(41, 41, 140, 0.5) 49.41%,
    rgba(0, 147, 212, 0.5) 67.98%, rgba(143, 46, 189, 0.5) 88.4%,
    rgba(216, 29, 226, 0.5) 99.22%;

  --avatar-bg-filter-md-earn-connection:
    76.46% 134.28% at 34.27% -2.68%, rgba(41, 41, 140, 0) 49.41%,
    rgba(0, 147, 212, 0.5) 67.98%, rgba(143, 46, 189, 0.5) 88.4%,
    rgba(216, 29, 226, 0.5) 99.22%;

  --avatar-bg-filter-sm:
    84.61% 152.04% at 34.27% -2.68%, rgba(41, 41, 140, 0.5) 49.41%,
    rgba(0, 147, 212, 0.5) 67.98%, rgba(143, 46, 189, 0.5) 88.4%,
    rgba(216, 29, 226, 0.5) 99.22%;
  --avatar-chat-border:
    #ffffff 2.51%, rgba(255, 255, 255, 0) 37.74%, rgba(255, 255, 255, 0) 85.25%,
    #ffffff 101.14%;
  --avatar-info-border:
    #fff, rgba(255, 255, 255, 0) 33.5%, rgba(81, 249, 255, 0) 80.85%,
    #fff 122.75%;
  --avatar-emi-radial: linear-gradient(
    143.72deg,
    rgba(216, 29, 226, 0.71) 29.99%,
    #49fff0 49.39%,
    #1d4ed8 83.09%
  );
}

@layer base {
  * {
    font-family: var(--font-kanit);
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-center-x {
    @apply flex justify-center;
  }

  .flex-center-y {
    @apply flex items-center;
  }

  .avatar-container {
    @apply max-w-340 mx-auto px-5 md:px-10;
  }

  /* Custom container classes using your variables */
  .container-responsive {
    max-width: var(--max-screen-xl);
    margin: 0 auto;
    padding: 0 1rem;
  }

  .container-tight {
    max-width: var(--max-screen-lg);
    margin: 0 auto;
    padding: 0 1rem;
  }

  .container-wide {
    max-width: var(--max-screen-3xl);
    margin: 0 auto;
    padding: 0 1rem;
  }

  .container-ultra-wide {
    max-width: var(--max-screen-5xl);
    margin: 0 auto;
    padding: 0 2rem;
  }

  .text-gradient {
    -webkit-text-fill-color: transparent;
    @apply bg-clip-text;
  }

  .drop-shadow-text {
    filter: var(--drop-shadow-text);
  }
}

@layer components {
  .background-blur {
    @apply bg-[linear-gradient(180deg,rgba(0,0,0,0.3)_0%,rgba(0,0,0,0)_106.11%)] border-none backdrop-blur-[50px];
  }
  .cs-radial-lg {
    background: radial-gradient(var(--avatar-bg-filter-lg));
  }
  .cs-radial-md {
    background: radial-gradient(var(--avatar-bg-filter-md));
  }
  .cs-radial-sm {
    background: radial-gradient(var(--avatar-bg-filter-sm));
  }
  .cs-radial-lg-earn-connection {
    background: radial-gradient(var(--avatar-bg-filter-lg-earn-connection));
  }
  .cs-radial-md-earn-connection {
    background: radial-gradient(var(--avatar-bg-filter-md-earn-connection));
  }
}

.gradient-border {
  border-radius: 8px;
  padding: 1px;
  background: transparent;
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.example {
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  position: relative;
  z-index: 1;
}

.border-gradient-border-linear::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--before-rounded);
  padding: var(--before-stroke-width);
  background: linear-gradient(
    var(--direction-linear),
    var(--before-stroke-color)
  );
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  animation: var(--rotate-duration) cs-border-rotate-linear linear infinite;
}

.border-gradient-border-radial::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--before-rounded);
  padding: var(--before-stroke-width);
  background: radial-gradient(
    var(--direction-linear),
    var(--before-stroke-color)
  );
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  animation: var(--rotate-duration) pan-radial linear infinite;
}

@keyframes cs-border-rotate-linear {
  0% {
    --direction-linear: 0deg;
  }
  100% {
    --direction-linear: 360deg;
  }
}

@property --direction-linear {
  syntax: "<angle>";
  initial-value: 60deg;
  inherits: false;
}

@keyframes pan-radial {
  0% {
    --x-pos: 30%;
    --y-pos: 0%;
  }
  50% {
    --x-pos: 75%;
    --y-pos: 100%;
  }
  100% {
    --x-pos: 30%;
    --y-pos: 0%;
  }
}

@property --x-pos {
  syntax: "<percentage>";
  initial-value: 34.27%;
  inherits: false;
}

@property --y-pos {
  syntax: "<percentage>";
  initial-value: -2.68%;
  inherits: false;
}

.textShadow {
  text-shadow: 1.70285px 2.55428px 1.53257px rgba(0, 0, 0, 0.4);
}
